{
  "openapi": "3.1.0",
  "info": {
    "title": "Insta Buddy API",
    "version": "1.0.0",
    "summary": "Plan, publish and manage social content across every account you own or buy.",
    "description": "The Insta Buddy API is the single programmable surface behind the web app, the MCP server, the SDKs and the CLI. Every resource here maps 1:1 to a page in the product (Phase 3) and to a business workflow (Phase 2).\n\nAuth: `Authorization: Bearer <api-key>`. Every request is scoped to exactly one Workspace, resolved from the key. Cursor pagination, one filter grammar, one error envelope. Additive changes ship on `/v1`; breaking changes ship on `/v2`.",
    "termsOfService": "https://insta-buddy-dash.lovable.app/terms",
    "contact": {
      "name": "Insta Buddy Support",
      "url": "https://insta-buddy-dash.lovable.app/support",
      "email": "support@insta-buddy.example"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://insta-buddy-dash.lovable.app/license"
    },
    "x-api-id": "insta-buddy-v1",
    "x-audience": "public",
    "x-logo": {
      "url": "https://insta-buddy-dash.lovable.app/logo.png",
      "altText": "Insta Buddy"
    }
  },
  "servers": [
    {
      "url": "https://insta-buddy-dash.lovable.app/api/public/v1",
      "description": "Production"
    },
    {
      "url": "https://project--190b66d0-cf30-4890-bfc6-0adc64a23313-dev.lovable.app/api/public/v1",
      "description": "Preview"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Posts",
      "description": "Plan, schedule, publish and manage content."
    },
    {
      "name": "Assets",
      "description": "Upload and manage the media used by posts."
    },
    {
      "name": "Accounts",
      "description": "Connect and manage the social accounts posts publish to."
    },
    {
      "name": "Products",
      "description": "Browse purchasable offerings in the Store catalog."
    },
    {
      "name": "Orders",
      "description": "Create and track Store purchases."
    },
    {
      "name": "Deliveries",
      "description": "Receive and manage handed-over accounts."
    },
    {
      "name": "Activity",
      "description": "Immutable workspace event log."
    },
    {
      "name": "Workspace",
      "description": "Workspace configuration singleton."
    },
    {
      "name": "Members",
      "description": "People and AI agents in the workspace."
    },
    {
      "name": "API Keys",
      "description": "Programmatic credentials."
    },
    {
      "name": "Webhooks",
      "description": "Outbound event subscriptions."
    },
    {
      "name": "Notifications",
      "description": "Per-member inbox."
    },
    {
      "name": "Search",
      "description": "Cross-resource global search."
    },
    {
      "name": "Meta",
      "description": "Spec, health, current identity."
    }
  ],
  "x-tagGroups": [
    {
      "name": "Content",
      "tags": [
        "Posts",
        "Assets",
        "Accounts"
      ]
    },
    {
      "name": "Store",
      "tags": [
        "Products",
        "Orders",
        "Deliveries"
      ]
    },
    {
      "name": "Observability",
      "tags": [
        "Activity",
        "Notifications",
        "Search"
      ]
    },
    {
      "name": "Configuration",
      "tags": [
        "Workspace",
        "Members",
        "API Keys",
        "Webhooks"
      ]
    },
    {
      "name": "Meta",
      "tags": [
        "Meta"
      ]
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts.list",
        "summary": "List social accounts",
        "description": "### What\nReturn every connected or delivered Social Account.\n\n### When to use\nAccounts page; account picker in `posts.create`.\n\n### Before / After\n- **Before:** \u2014\n- **After:** `accounts.get`, `posts.create`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/FilterAccountStatus"
          },
          {
            "$ref": "#/components/parameters/FilterPlatform"
          },
          {
            "$ref": "#/components/parameters/FilterTag"
          },
          {
            "$ref": "#/components/parameters/Query"
          },
          {
            "$ref": "#/components/parameters/CreatedAfter"
          },
          {
            "$ref": "#/components/parameters/CreatedBefore"
          },
          {
            "$ref": "#/components/parameters/UpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "List social accounts",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialAccountCollection"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Account_Collection"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "manage_account",
        "x-page": "accounts",
        "x-ai-summary": "List all social accounts in the workspace.",
        "x-ai-example": "How many active IG accounts do I have?",
        "x-scopes": [
          "accounts:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_filter",
          "unauthenticated",
          "forbidden",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "accounts.create",
          "store.orders.create"
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts.create",
        "summary": "Connect a social account",
        "description": "### What\nConnect an account you own to the workspace using credentials obtained via the connect flow.\n\n### When to use\nBring-your-own account. Bought accounts arrive via Deliveries.\n\n### Before / After\n- **Before:** Run the OAuth/credential exchange to get `credentials_ref`.\n- **After:** `accounts.get`, `posts.create`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "Connect a social account",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialAccountEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Account_Active"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "connect_account",
        "x-page": "accounts",
        "x-ai-summary": "Connect an account you own.",
        "x-ai-example": "Connect my IG account @founder.",
        "x-scopes": [
          "accounts:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "x-related-operations": [
          "accounts.rotate",
          "posts.create"
        ],
        "x-next-step": "posts.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountConnectInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/AccountConnect_Req"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts.get",
        "summary": "Get a social account",
        "description": "### What\nReturn one Social Account by id.\n\n### When to use\nAccount detail page.\n\n### Before / After\n- **Before:** `accounts.list`.\n- **After:** `accounts.list_posts`, `accounts.rotate`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_account_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a social account",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialAccountEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Account_Active"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "manage_account",
        "x-page": "account_detail",
        "x-ai-summary": "Fetch one social account.",
        "x-ai-example": "Show me acc_....",
        "x-scopes": [
          "accounts:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "accounts.list_posts",
          "accounts.rotate"
        ]
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts.update",
        "summary": "Update account metadata",
        "description": "### What\nRename, retag, or update display name.\n\n### When to use\nHousekeeping.\n\n### Before / After\n- **Before:** `accounts.get`.\n- **After:** \u2014\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_account_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Update account metadata",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialAccountEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Account_Active"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "manage_account",
        "x-page": "account_detail",
        "x-ai-summary": "Rename or tag a social account.",
        "x-ai-example": "Tag acc_... as 'launch'.",
        "x-scopes": [
          "accounts:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/AccountConnect_Req"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts.delete",
        "summary": "Retire a social account",
        "description": "### What\nSet the account to `retired`. History and past Posts are preserved.\n\n### When to use\nAccount no longer used.\n\n### Before / After\n- **Before:** `accounts.get`.\n- **After:** \u2014\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_account_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "retire_account",
        "x-page": "account_detail",
        "x-ai-summary": "Retire a social account.",
        "x-ai-example": "Retire acc_....",
        "x-scopes": [
          "accounts:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false
      }
    },
    "/accounts/{account_id}/posts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts.list_posts",
        "summary": "List posts on this account",
        "description": "### What\nSame shape as `posts.list`, pre-filtered.\n\n### When to use\nAccount detail page.\n\n### Before / After\n- **Before:** `accounts.get`.\n- **After:** `posts.get`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_account_id"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/FilterPostStatus"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "List posts on this account",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCollection"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Post_Collection"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "plan_post",
        "x-page": "account_detail",
        "x-ai-summary": "List posts on this social account.",
        "x-ai-example": "What have I posted on acc_... this month?",
        "x-scopes": [
          "posts:read",
          "accounts:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true
      }
    },
    "/accounts/{account_id}/rotate": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts.rotate",
        "summary": "Rotate account credentials",
        "description": "### What\nReplace stored credentials. Used after platform re-auth or an `needs_attention` event.\n\n### When to use\nAn Activity `account.needs_attention` fires.\n\n### Before / After\n- **Before:** Run the re-auth flow to get a new `credentials_ref`.\n- **After:** `accounts.get` \u2014 expect `active`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_account_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Rotate account credentials",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialAccountEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Account_Active"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "rotate_account",
        "x-page": "account_detail",
        "x-ai-summary": "Rotate credentials on a social account.",
        "x-ai-example": "I re-authorized acc_...; save the new credentials.",
        "x-scopes": [
          "accounts:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRotateInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/AccountConnect_Req"
                }
              }
            }
          }
        }
      }
    },
    "/activity": {
      "get": {
        "tags": [
          "Activity"
        ],
        "operationId": "activity.list",
        "summary": "List activity events",
        "description": "### What\nImmutable, workspace-wide event log. Newest first.\n\n### When to use\nActivity page; agent audits its own actions.\n\n### Before / After\n- **Before:** \u2014\n- **After:** Open the referenced resource via its own tag.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/FilterEvent"
          },
          {
            "$ref": "#/components/parameters/FilterActor"
          },
          {
            "$ref": "#/components/parameters/FilterVia"
          },
          {
            "$ref": "#/components/parameters/FilterAgent"
          },
          {
            "$ref": "#/components/parameters/CreatedAfter"
          },
          {
            "$ref": "#/components/parameters/CreatedBefore"
          },
          {
            "$ref": "#/components/parameters/Query"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "List activity events",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityCollection"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Activity_Collection"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "audit",
        "x-page": "activity",
        "x-ai-summary": "Read the workspace audit log.",
        "x-ai-example": "What did the AI agent do in the last hour?",
        "x-scopes": [
          "activity:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_filter",
          "unauthenticated",
          "forbidden",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "activity.get",
          "webhooks.list"
        ]
      }
    },
    "/activity/{activity_id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "operationId": "activity.get",
        "summary": "Get one activity event",
        "description": "### What\nReturn one activity event by id.\n\n### When to use\nDebugging a specific event.\n\n### Before / After\n- **Before:** `activity.list`.\n- **After:** Open the referenced object.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_activity_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get one activity event",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Activity_Collection"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "audit",
        "x-page": "activity",
        "x-ai-summary": "Fetch one activity event.",
        "x-ai-example": "Show me act_....",
        "x-scopes": [
          "activity:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true
      }
    },
    "/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "assets.list",
        "summary": "List assets",
        "description": "### What\nReturn uploaded assets in the current workspace.\n\n### When to use\nAssets grid; picker inside `posts.create`.\n\n### Before / After\n- **Before:** \u2014\n- **After:** `assets.get`, `posts.create`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/FilterAssetStatus"
          },
          {
            "$ref": "#/components/parameters/FilterTag"
          },
          {
            "$ref": "#/components/parameters/Query"
          },
          {
            "$ref": "#/components/parameters/FilterActor"
          },
          {
            "$ref": "#/components/parameters/FilterVia"
          },
          {
            "$ref": "#/components/parameters/FilterAgent"
          },
          {
            "$ref": "#/components/parameters/CreatedAfter"
          },
          {
            "$ref": "#/components/parameters/CreatedBefore"
          },
          {
            "$ref": "#/components/parameters/UpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "List assets",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetCollection"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Asset_Ready"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "upload_asset",
        "x-page": "assets",
        "x-ai-summary": "List assets in the workspace.",
        "x-ai-example": "Show me all my reels tagged 'summer'.",
        "x-scopes": [
          "assets:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_filter",
          "unauthenticated",
          "forbidden",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "assets.create",
          "posts.create"
        ]
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "operationId": "assets.create",
        "summary": "Initiate an asset upload",
        "description": "### What\nReserve an Asset record and return a pre-signed upload URL. Two-step upload.\n\n### When to use\nBefore attaching media to a Post.\n\n### Before / After\n- **Before:** \u2014\n- **After:** PUT bytes to the returned URL, then `assets.complete`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "Initiate an asset upload",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetCreateEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/AssetCreate_Res"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "upload_asset",
        "x-page": "assets",
        "x-ai-summary": "Reserve an asset and get an upload URL.",
        "x-ai-example": "I want to upload summer-teaser.mp4.",
        "x-scopes": [
          "assets:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "payment_required",
          "unsupported_media",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "x-related-operations": [
          "assets.complete",
          "posts.create"
        ],
        "x-next-step": "assets.complete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetCreateInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/AssetCreate_Req"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{asset_id}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "assets.get",
        "summary": "Get an asset",
        "description": "### What\nReturn one Asset by id, including status and CDN URL when `ready`.\n\n### When to use\nAsset detail page.\n\n### Before / After\n- **Before:** `assets.list`.\n- **After:** `assets.update`, `posts.create`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_asset_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get an asset",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Asset_Ready"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "upload_asset",
        "x-page": "asset_detail",
        "x-ai-summary": "Fetch a single asset by id.",
        "x-ai-example": "Show me asset ast_....",
        "x-scopes": [
          "assets:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "assets.list_posts"
        ]
      },
      "patch": {
        "tags": [
          "Assets"
        ],
        "operationId": "assets.update",
        "summary": "Update asset metadata",
        "description": "### What\nRename or retag an Asset.\n\n### When to use\nLibrary organization.\n\n### Before / After\n- **Before:** `assets.get`.\n- **After:** `assets.list`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_asset_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Update asset metadata",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Asset_Ready"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "upload_asset",
        "x-page": "asset_detail",
        "x-ai-summary": "Rename or tag an asset.",
        "x-ai-example": "Tag ast_... as 'launch'.",
        "x-scopes": [
          "assets:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetUpdateInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/AssetCreate_Req"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "operationId": "assets.delete",
        "summary": "Delete an asset",
        "description": "### What\nDelete an unreferenced Asset. Fails with `conflict` if any Post references it.\n\n### When to use\nLibrary cleanup.\n\n### Before / After\n- **Before:** `assets.list_posts` to check references.\n- **After:** \u2014\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_asset_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "upload_asset",
        "x-page": "asset_detail",
        "x-ai-summary": "Delete an unreferenced asset.",
        "x-ai-example": "Delete ast_....",
        "x-scopes": [
          "assets:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "unauthenticated",
          "forbidden",
          "not_found",
          "conflict",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false
      }
    },
    "/assets/{asset_id}/complete": {
      "post": {
        "tags": [
          "Assets"
        ],
        "operationId": "assets.complete",
        "summary": "Complete an asset upload",
        "description": "### What\nFinalize the upload started by `assets.create`. Kicks off server-side processing.\n\n### When to use\nImmediately after successful PUT to the pre-signed URL.\n\n### Before / After\n- **Before:** `assets.create` and PUT the bytes.\n- **After:** Poll `assets.get`; use once `status = ready`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_asset_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Complete an asset upload",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Asset_Ready"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "upload_asset",
        "x-page": "assets",
        "x-ai-summary": "Finalize an in-progress asset upload.",
        "x-ai-example": "I finished uploading; process it.",
        "x-scopes": [
          "assets:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "x-related-operations": [
          "assets.get",
          "posts.create"
        ],
        "x-next-step": "assets.get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetCompleteInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/AssetComplete_Req"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{asset_id}/posts": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "assets.list_posts",
        "summary": "List posts that use this asset",
        "description": "### What\nReturn posts referencing the asset. Same shape as `posts.list`.\n\n### When to use\nAsset detail page; before delete.\n\n### Before / After\n- **Before:** `assets.get`.\n- **After:** `posts.get`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_asset_id"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "List posts that use this asset",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCollection"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Post_Collection"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "upload_asset",
        "x-page": "asset_detail",
        "x-ai-summary": "List posts using this asset.",
        "x-ai-example": "What posts use ast_...?",
        "x-scopes": [
          "posts:read",
          "assets:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true
      }
    },
    "/deliveries": {
      "get": {
        "tags": [
          "Deliveries"
        ],
        "operationId": "deliveries.list",
        "summary": "List deliveries",
        "description": "### What\nReturn every Delivery in the workspace.\n\n### When to use\nStore \u2192 Deliveries tab.\n\n### Before / After\n- **Before:** \u2014\n- **After:** `deliveries.accept`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/FilterDeliveryStatus"
          },
          {
            "$ref": "#/components/parameters/FilterOrderId"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "List deliveries",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryCollection"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Delivery_Ready"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "receive_delivery",
        "x-page": "store_deliveries",
        "x-ai-summary": "List all deliveries.",
        "x-ai-example": "Which deliveries are ready to accept?",
        "x-scopes": [
          "store:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_filter",
          "unauthenticated",
          "forbidden",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "deliveries.accept",
          "deliveries.report_issue"
        ]
      }
    },
    "/deliveries/{delivery_id}": {
      "get": {
        "tags": [
          "Deliveries"
        ],
        "operationId": "deliveries.get",
        "summary": "Get a delivery",
        "description": "### What\nReturn one Delivery by id.\n\n### When to use\nDelivery detail page.\n\n### Before / After\n- **Before:** `deliveries.list` or `orders.list_deliveries`.\n- **After:** `deliveries.accept`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_delivery_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a delivery",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Delivery_Ready"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "receive_delivery",
        "x-page": "delivery_detail",
        "x-ai-summary": "Fetch one delivery.",
        "x-ai-example": "Show me del_....",
        "x-scopes": [
          "store:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "deliveries.accept",
          "deliveries.report_issue"
        ]
      }
    },
    "/deliveries/{delivery_id}/accept": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "operationId": "deliveries.accept",
        "summary": "Accept a delivery",
        "description": "### What\nAccept the handover. Included Social Accounts move to `active` in Accounts.\n\n### When to use\nCustomer confirms delivery contents look right.\n\n### Before / After\n- **Before:** `deliveries.get` (status must be `ready`).\n- **After:** `accounts.list`, `posts.create`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_delivery_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Accept a delivery",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Delivery_Ready"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "receive_delivery",
        "x-page": "delivery_detail",
        "x-ai-summary": "Accept a delivery.",
        "x-ai-example": "Accept del_....",
        "x-scopes": [
          "store:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "x-related-operations": [
          "accounts.list",
          "posts.create"
        ],
        "x-next-step": "posts.create",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryAcceptInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/DeliveryAccept_Req"
                }
              }
            }
          }
        }
      }
    },
    "/deliveries/{delivery_id}/report-issue": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "operationId": "deliveries.report_issue",
        "summary": "Report a delivery issue",
        "description": "### What\nReport a problem with delivered accounts.\n\n### When to use\nOne or more accounts don't work.\n\n### Before / After\n- **Before:** `deliveries.get`.\n- **After:** `orders.replacement`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_delivery_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Report a delivery issue",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Delivery_Ready"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "replacement",
        "x-page": "delivery_detail",
        "x-ai-summary": "Report an issue with a delivery.",
        "x-ai-example": "Two accounts in del_... are shadow-banned.",
        "x-scopes": [
          "store:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "x-related-operations": [
          "orders.replacement"
        ],
        "x-next-step": "orders.replacement",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryIssueInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/PostCancel_Req"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Meta"
        ],
        "operationId": "meta.health",
        "summary": "Health check",
        "description": "Liveness probe. No auth required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Health check",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Health"
                  }
                }
              }
            }
          }
        },
        "x-workflow": "meta",
        "x-page": "any",
        "x-ai-summary": "Health check",
        "x-ai-example": "Health check",
        "x-scopes": [],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [],
        "x-idempotent": true
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Meta"
        ],
        "operationId": "meta.me",
        "summary": "Who am I",
        "description": "### What\nReturn the current member and workspace.\n\n### When to use\nBoot; showing 'signed in as'.\n\n### Before / After\n- **Before:** \u2014\n- **After:** \u2014\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Who am I",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Me"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "identity",
        "x-page": "any",
        "x-ai-summary": "Return the caller's member and workspace.",
        "x-ai-example": "Who am I signed in as?",
        "x-scopes": [
          "meta:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "operationId": "meta.openapi",
        "summary": "Serve the OpenAPI 3.1 specification",
        "description": "Return this OpenAPI document. No auth required.",
        "security": [],
        "responses": {
          "200": {
            "description": "Serve the OpenAPI 3.1 specification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Health"
                  }
                }
              }
            }
          }
        },
        "x-workflow": "meta",
        "x-page": "any",
        "x-ai-summary": "Serve the OpenAPI 3.1 specification",
        "x-ai-example": "Serve the OpenAPI 3.1 specification",
        "x-scopes": [],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [],
        "x-idempotent": true
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "orders.list",
        "summary": "List orders",
        "description": "### What\nReturn the current workspace's orders.\n\n### When to use\nStore \u2192 Orders tab.\n\n### Before / After\n- **Before:** \u2014\n- **After:** `orders.get`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/FilterOrderStatus"
          },
          {
            "$ref": "#/components/parameters/FilterProductId"
          },
          {
            "$ref": "#/components/parameters/Query"
          },
          {
            "$ref": "#/components/parameters/CreatedAfter"
          },
          {
            "$ref": "#/components/parameters/CreatedBefore"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "List orders",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCollection"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Order_Fulfilled"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "buy_accounts",
        "x-page": "store_orders",
        "x-ai-summary": "List store orders.",
        "x-ai-example": "What orders do I have pending?",
        "x-scopes": [
          "store:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_filter",
          "unauthenticated",
          "forbidden",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "orders.create",
          "orders.get"
        ]
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "orders.create",
        "summary": "Create an order",
        "description": "### What\nCreate an Order and return a `checkout_url`. Order stays `pending` until payment.\n\n### When to use\nBuy accounts.\n\n### Before / After\n- **Before:** `products.list`.\n- **After:** Send user to `checkout_url`; wait for `order.paid` \u2192 `delivery.ready`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "Create an order",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Order_Created"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "buy_accounts",
        "x-page": "store_catalog",
        "x-ai-summary": "Create a store order.",
        "x-ai-example": "Buy 3 warmed-up IG accounts.",
        "x-scopes": [
          "store:write"
        ],
        "x-rate-limit-tier": "heavy",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "payment_required",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "x-related-operations": [
          "orders.get",
          "deliveries.accept"
        ],
        "x-next-step": "orders.get",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/OrderCreate_Req"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "orders.get",
        "summary": "Get an order",
        "description": "### What\nReturn one Order by id, including linked Deliveries.\n\n### When to use\nOrder detail page.\n\n### Before / After\n- **Before:** `orders.list`.\n- **After:** `orders.list_deliveries`, `deliveries.accept`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_order_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get an order",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Order_Fulfilled"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "buy_accounts",
        "x-page": "order_detail",
        "x-ai-summary": "Fetch one order.",
        "x-ai-example": "Show me ord_....",
        "x-scopes": [
          "store:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "orders.list_deliveries",
          "orders.replacement"
        ]
      }
    },
    "/orders/{order_id}/deliveries": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "orders.list_deliveries",
        "summary": "List an order's deliveries",
        "description": "### What\nReturn the Deliveries that belong to this Order.\n\n### When to use\nOrder detail page.\n\n### Before / After\n- **Before:** `orders.get`.\n- **After:** `deliveries.accept`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_order_id"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "List an order's deliveries",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryCollection"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Delivery_Ready"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "receive_delivery",
        "x-page": "order_detail",
        "x-ai-summary": "List deliveries for an order.",
        "x-ai-example": "What deliveries came from ord_...?",
        "x-scopes": [
          "store:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "deliveries.accept"
        ]
      }
    },
    "/orders/{order_id}/replacement": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "orders.replacement",
        "summary": "Request a replacement",
        "description": "### What\nFile a replacement request against an Order (typically after an issue on a Delivery).\n\n### When to use\nDelivery had bad accounts and warranty window is open.\n\n### Before / After\n- **Before:** `deliveries.report_issue` optionally.\n- **After:** Wait for Activity `order.fulfilled` again with new Deliveries.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_order_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Request a replacement",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Order_Fulfilled"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "replacement",
        "x-page": "order_detail",
        "x-ai-summary": "Request replacement accounts for an order.",
        "x-ai-example": "Two accounts from ord_... don't work; request replacements.",
        "x-scopes": [
          "store:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "x-related-operations": [
          "deliveries.report_issue",
          "orders.get"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderReplacementInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/PostCancel_Req"
                }
              }
            }
          }
        }
      }
    },
    "/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "operationId": "posts.list",
        "summary": "List posts",
        "description": "### What\nReturn posts in the current workspace, most recently scheduled first.\n\n### When to use\nAny Posts view (Calendar/Board/List) uses this; agents call it to enumerate scheduled or failed work.\n\n### Before / After\n- **Before:** `accounts.list` to know which account to filter by.\n- **After:** `posts.get` or `posts.publish` on a specific id.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/FilterPostStatus"
          },
          {
            "$ref": "#/components/parameters/FilterAccountId"
          },
          {
            "$ref": "#/components/parameters/FilterAssetId"
          },
          {
            "$ref": "#/components/parameters/FilterPlatform"
          },
          {
            "$ref": "#/components/parameters/FilterActor"
          },
          {
            "$ref": "#/components/parameters/FilterVia"
          },
          {
            "$ref": "#/components/parameters/FilterAgent"
          },
          {
            "$ref": "#/components/parameters/FilterTag"
          },
          {
            "$ref": "#/components/parameters/Query"
          },
          {
            "$ref": "#/components/parameters/CreatedAfter"
          },
          {
            "$ref": "#/components/parameters/CreatedBefore"
          },
          {
            "$ref": "#/components/parameters/UpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/ScheduledAfter"
          },
          {
            "$ref": "#/components/parameters/ScheduledBefore"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "List posts",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCollection"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Post_Collection"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "plan_post",
        "x-page": "posts",
        "x-ai-summary": "List posts with optional status, account, or time-window filters.",
        "x-ai-example": "Show me every failed post from the last 24 hours.",
        "x-scopes": [
          "posts:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_filter",
          "unauthenticated",
          "forbidden",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "posts.create",
          "posts.get",
          "posts.status"
        ]
      },
      "post": {
        "tags": [
          "Posts"
        ],
        "operationId": "posts.create",
        "summary": "Create a post",
        "description": "### What\nCreate a Post in `draft`, or in `scheduled` if `scheduled_at` is provided.\n\n### When to use\nCustomer plans a post from the UI or an agent drafts one via MCP.\n\n### Before / After\n- **Before:** `assets.create` + `assets.complete` for any media; `accounts.list` for the destination.\n- **After:** `posts.schedule`, `posts.publish`, or `posts.update`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/XRequestId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "201": {
            "description": "Create a post",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Post_Scheduled"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "plan_post",
        "x-page": "posts",
        "x-ai-summary": "Create a new post targeting one social account with one or more assets.",
        "x-ai-example": "Schedule a reel of summer-teaser.mp4 to @brand_alpha for tomorrow at 6pm.",
        "x-scopes": [
          "posts:write"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "conflict",
          "payment_required",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": false,
        "x-related-operations": [
          "posts.schedule",
          "posts.publish",
          "assets.create",
          "accounts.list"
        ],
        "x-next-step": "posts.publish",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCreateInput"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/PostCreate_Req"
                }
              }
            }
          }
        }
      }
    },
    "/posts/{post_id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "operationId": "posts.get",
        "summary": "Get a post",
        "description": "### What\nReturn one Post by id, including current status and failure detail if any.\n\n### When to use\nPost detail page; agent inspecting the result of an action.\n\n### Before / After\n- **Before:** `posts.list` or the id returned by `posts.create`.\n- **After:** `posts.update`, `posts.publish`, `posts.cancel`.\n\n### Notes\nIdempotency-Key accepted on all mutating requests. Cross-workspace access returns `not_found`, never `forbidden`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Path_post_id"
          },
          {
            "$ref": "#/components/parameters/XRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a post",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostEnvelope"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/Post_Scheduled"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-workflow": "plan_post",
        "x-page": "post_detail",
        "x-ai-summary": "Fetch a single post by id.",
        "x-ai-example": "Show me post post_01H....",
        "x-scopes": [
          "posts:read"
        ],
        "x-rate-limit-tier": "standard",
        "x-error-codes": [
          "invalid_input",
          "unauthenticated",
          "forbidden",
          "not_found",
          "rate_limited",
          "internal"
        ],
        "x-idempotent": true,
        "x-related-operations": [
          "posts.status",
          "posts.update",
          "posts.publish",
          "posts.cancel"
        ]
      },
      "patch": {
        "tags": [
          "Posts"
        ],
        "operationId": "posts.update",
        "summary": "Update a post",
[...]
